<div class="row">
    <div class="col s10 offset-s1">
      <app-loading *ngIf="isloading"></app-loading>
      <div *ngIf="!isloading">
        <h2>My cart</h2>
        <div  *ngIf="cart?.length; else empty">
            <table >
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Model</th>
                    <th>Count</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let watch of cart, let index = index" >
                    <td>{{watch?.title}}</td>
                    <td>{{watch?.model}}</td>
                    <td>{{watch?.count}}</td>
                    <td>{{watch?.price}} $</td>
                    <td class='clear'><span class='material-icons red' (click)="delete(index)">clear</span></td>
                  </tr>
                </tbody>
              </table>
              <br>
              <span>Price: {{priceAll}} $</span>
              <button class="btn btn-primary" type="submit" (click)='order()'>Order</button>
        </div>
        <ng-template #empty>
           <h4>The cart is empty</h4>
        </ng-template>
      </div> 
    </div>
  </div>

